
<h1>Login</h1>

<div class="google flex">
<a href="/auth/google/"><img src="/images/socialLogin/btn_google_signin_light_pressed_web.png" alt="Sign up with Google"></a>
</div>

<form action="/auth/login" method="POST" class="flex-column signup" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
