* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #141414;
  color: #bebebe;
  font-size: 18px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  padding-top: 40px;
  margin-bottom: 40px; }

textarea {
  margin: 0 auto;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.05);
  color: #E5E5E5;
  height: fit-content; }

h1,
h3 {
  text-align: center;
  color: #e6df44; }

h3 a {
  text-decoration: none;
  color: #E6DF44; }

.movieCard img {
  width: 100vw;
  height: auto;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.65); }

.movieCard h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  color: #e6df44; }

.movieCard {
  margin: 20px 0; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 0;
  background-color: rgba(20, 20, 20, 0.4);
  z-index: 1; }

nav a {
  text-decoration: none;
  color: gainsboro; }

.div4 img {
  width: 80px;
  height: auto; }

.parent {
  display: grid;
  background-color: rgba(128, 128, 128, 0.3);
  margin: 15px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr) 2fr 1fr;
  grid-template-rows: repeat(5, minmax(auto, auto));
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  .parent .div1 {
    grid-area: 1 / 1 / 2 / 5; }
  .parent .div2 {
    grid-area: 2 / 1 / 3 / 2; }
  .parent .div3 {
    grid-area: 2 / 2 / 3 / 4; }
  .parent .div4 {
    grid-area: 2 / 4 / 5 / 5; }
  .parent .div5 {
    grid-area: 3 / 1 / 4 / 2; }
  .parent .div6 {
    grid-area: 3 / 2 / 4 / 4; }
  .parent .div7 {
    grid-area: 4 / 1 / 5 / 2; }
  .parent .div8 {
    grid-area: 4 / 2 / 5 / 4; }
  .parent .div9 {
    grid-area: 5 / 1 / 6 / 2; }
  .parent .div10 {
    grid-area: 5 / 2 / 6 / 5; }

.user-profile {
  display: grid;
  margin: 15px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.3);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  .user-profile .div1 {
    grid-area: 1 / 1 / 2 / 6; }
  .user-profile .div2 {
    grid-area: 2 / 1 / 3 / 6; }
  .user-profile .div3 {
    grid-area: 3 / 1 / 4 / 6; }
  .user-profile .div4 {
    grid-area: 4 / 1 / 5 / 6; }

.date {
  width: 4ch;
  overflow: hidden;
  white-space: nowrap; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.select-wrapper {
  width: fit-content;
  background-color: #b6b5b3;
  margin: 0 auto;
  padding: 0 10px; }

.flex .s12 {
  display: flex;
  justify-content: center;
  align-items: center; }

.movieResults {
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  font-size: 12px; }

.movieResult {
  width: 40vw;
  height: auto;
  margin: 10px; }

.movieResults img {
  width: 40vw;
  height: auto; }

.movieResults h3 {
  font-size: 16px; }

.rating {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px;
  padding: 10px;
  color: #14213d;
  font-size: 16px; }

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14213d;
  color: #ffffff;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 50%;
  width: 12vw;
  height: 12vw; }

.vote {
  justify-content: space-around; }

.reviews {
  background-color: #e6df44;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  font-weight: bold; }

.reviews input {
  font-size: 20px;
  color: #14213d; }

#logotipe {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 40px;
  justify-content: center;
  width: 80vw;
  height: auto; }

.reviewGrid {
  display: grid;
  background-color: rgba(128, 128, 128, 0.3);
  margin: 15px;
  padding: 10px;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: repeat(3, minmax(auto, auto));
  grid-column-gap: 5px;
  grid-row-gap: 5px; }
  .reviewGrid .div1 {
    grid-area: 1 / 1 / 2 / 2; }
  .reviewGrid .div2 {
    grid-area: 1 / 2 / 2 / 3; }
  .reviewGrid .div3 {
    grid-area: 1 / 3 / 2 / 4; }
  .reviewGrid .div4 {
    grid-area: 2 / 1 / 3 / 2; }
  .reviewGrid .div5 {
    grid-area: 2 / 2 / 3 / 4; }
  .reviewGrid .div6 {
    grid-area: 3 / 1 / 4 / 4; }

#writeRvw {
  justify-content: center;
  margin: 0 auto;
  width: 90vw; }

#writeRvw input {
  color: #E6DF44;
  margin: 0 10px; }

#writeRvw ::-webkit-input-placeholder {
  text-align: center;
  color: rgba(230, 222, 68, 0.6); }

#writeRvw button {
  width: 60vw;
  color: #14213D; }

.searchContainer {
  justify-content: center;
  height: 80vh; }

.searchContainer input {
  color: #E6DF44;
  font-weight: bold; }

.searchContainer form {
  margin: 30px 0; }

.searchContainer button {
  background-color: #E6DF44;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  color: #14213D;
  font-weight: bold; }

.signup {
  justify-content: center;
  width: 80vw;
  margin: 0 auto; }

.google {
  margin-bottom: 20px; }

.signup label {
  background-color: #E6DF44;
  color: #14213D;
  font-size: 16px;
  font-weight: bold;
  width: 80vw;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px; }

.signup input {
  color: #E5E5E5; }

.signup .select-wrapper {
  width: 80vw;
  margin: 10px;
  background-color: rgba(229, 229, 229, 0.25); }

.signup button {
  background-color: #E5E5E5;
  color: #14213D;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  margin: 20px;
  border-radius: 5px; }

.photo {
  background-color: rgba(229, 229, 229, 0.25);
  width: 80vw;
  margin: 10px; }

.profile-picture {
  width: 100px;
  height: auto; }

.friend img {
  height: 30px;
  width: 30px; }

<<<<<<< HEAD
.delete {
  background-color: red;
  color: white;
  padding: 20px;
  border: none; }

.user-connections {
  display: flex;
  flex-wrap: wrap; }

.delete-div {
  display: flex;
  align-content: center;
  justify-content: center; }

.friend {
  margin: 10px; }

.friend img {
  height: 100px;
  width: 100px; }

.similar-users {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap; }
=======
.userFound {
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh; }

.hidden {
  display: none; }
>>>>>>> 99a37327174f5a545427219970b8363743273470

/*# sourceMappingURL=style.css.map */