* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(190, 190, 190);
  font-size: 18px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  padding-top: 40px;
}

textarea {
  margin: 0 auto;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.05);
  color: #e5e5e5;
}

h1,
h3 {
  text-align: center;
  color: #e6df44;
}

.movieCard img {
  width: 100vw;
  height: auto;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.65);
}

.movieCard h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  color: #e6df44;
}

.movieCard {
  margin: 20px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 0;
  background-color: rgba(20, 20, 20, 0.4);
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.div4 img {
  width: 80px;
  height: auto;
}

.parent {
  display: grid;
  background-color: rgba(128, 128, 128, 0.3);
  margin: 15px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr) 2fr 1fr;
  grid-template-rows: repeat(5, minmax(auto, auto));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .div1 {
    grid-area: 1 / 1 / 2 / 5;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 4;
  }
  .div4 {
    grid-area: 2 / 4 / 5 / 5;
  }
  .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div6 {
    grid-area: 3 / 2 / 4 / 4;
  }
  .div7 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div8 {
    grid-area: 4 / 2 / 5 / 4;
  }
  .div9 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div10 {
    grid-area: 5 / 2 / 6 / 5;
  }
}

.user-profile {
  display: grid;
  margin: 15px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.3);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .div1 { grid-area: 1 / 1 / 2 / 4; }
  .div2 { grid-area: 2 / 1 / 3 / 4; }
  .div3 { grid-area: 3 / 1 / 4 / 4; }
  .div4 { grid-area: 4 / 1 / 5 / 4; }
  .div5 { grid-area: 1 / 4 / 5 / 6; }
}

.date {
  width: 4ch;
  overflow: hidden;
  white-space: nowrap;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.select-wrapper {
  width: fit-content;
  background-color: rgb(182, 181, 179);
  margin: 0 auto;
  padding: 0 10px;
}

.flex .s12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieResults {
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  font-size: 12px;
}

.movieResult {
  width: 40vw;
  height: auto;
  margin: 10px;
}

.movieResults img {
  width: 40vw;
  height: auto;
}

.movieResults h3 {
  font-size: 16px;
}

.rating {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px;
  padding: 10px;
  color: #14213d;
  font-size: 16px;
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14213d;
  color: #ffffff;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
}

.vote {
  justify-content: space-around;
}

.reviews {
  background-color: #e6df44;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
}

.reviews input {
  font-size: 20px;
  color: #14213d;
}

#logotipe {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 40px;
  justify-content: center;
  width: 80vw;
  height: auto;
}

.profile-picture {
  width: 100px;
  height: auto;
}

.friend img {
  height: 30px;
  width: 30px;
}