<h1>Reviews</h1>

{{#each reviews}}
<h5>Usuario: {{user}}</h5>
<p>Score: {{score}}</p>
<p>Comentario: {{comment}}</p>
<hr>
{{/each}}


<form action="/write-review/{{reviews._id}}" method="post">
  <textarea name="comment" id="writeReview" cols="30" rows="10"></textarea>
  <button type="submit">Add review</button>
</form>