<h1>Reviews</h1>

{{this.comment}}
{{review.comment}}

<form action="/write-review" method="post">
  <textarea name="writeReview" id="writeReview" cols="30" rows="10"></textarea>
  <button type="submit">Add review</button>
</form>