<div class="searchContainer flex-column">
<form action="/result" method="POST">
  <input type="search" name="search" id="movie-search" placeholder="Search a movie">
  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
</div>