<h3>Please, confirm you want to delete your account</h3>

<div class="delete-div">
<form action="/user/deletion" method="POST">
<button class="delete" type="submit">Yes, delete my account</button>
</form>
</div>