<h1>Users you follow</h1> 
<div class="user-profile">

{{#if friends}}
  <div class="user-connections">
  
  {{#each friends}}
  <div class="friend">
  <img src="{{this.image}}" alt="">
  <p>{{this.username}}</p>
  </div>
  {{/each}}
  </div>
{{else}}
<div class="friends">
<p>None</p>
</div>
{{/if}}
</div>