<div class="flex height">
<form action="/user/picture" method="POST" class="flex-column signup" id="form-container" enctype="multipart/form-data">
  <label for="photo">Profile picture</label>
  <p>Please upload a 100x100px picture.</p>
  <input type="file" name="photo" class="photo" placeholder="your photo">
  <button type="submit">Submit</button>
</form>
</div>