<div class="flex-column userFound">
  {{#each userFound}}
  <div class="flex-column">
    <h2><a href="/user/{{_id}}">{{username}}</a></h2>
    <img src="{{image}}" alt="">
  </div>
  {{/each}}
</div>