  <h1>Similar users to you</h1>
  <div class="similar-users parent">
    {{#each similarityScores}}
    <div><a href="/user/{{this.id}}"><img src="../../uploads/{{this.id}}.jpg" alt="{{user.name}} pic"/></a></div>
    {{/each}}
  </div>