  <h1>Similar users to you</h1>
  <div class="parent similar-users">
    {{#each similarityScores}}
    <div class="friend"><a href="/user/{{this.id}}"><img src="../../uploads/{{this.id}}.jpg" alt=""></a></div>
    {{/each}}
  </div>